@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
}

header {
  width: 30vw;
  background-image: url(/images/mountain_background.webp);
}
main {
  width: 70vw;
}

.logo {
  background-color: black;
  opacity: 0.4;
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  color: white;
  text-align: center;
  padding: 6px;
  font-family: "Rubik Dirt", sans-serif;
}

header h2 {
  font-size: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 30px;
}

header img {
  width: 4rem;
  height: 4rem;
  margin-left: 20px;
}

fieldset {
  border: none;
}

main {
  background-color: #cccccc;
}

main h1 {
  width: 70%;
  margin-top: 10vh;
}

main h2,
main h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 8vw;
  font-weight: 600;
  font-size: 1.3rem;
}

main h2 {
  margin-top: 2vh;
}

form {
  border-top: 1px solid gray;
  border-bottom: 2px solid gray;
  background-color: white;
}

fieldset div {
  display: flex;
  flex-direction: column;
}

fieldset {
  display: flex;
  gap: 10px;
  margin-left: 40px;
}

label {
  font-size: 0.8rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button[type="submit"] {
  border: none;
  background: none;
  margin-left: 6vw;
  margin-top: 5vh;
  background-color: green;
  padding: 10px 40px;
  border-radius: 10px;
  color: white;
}

h4 {
  margin-left: 6vw;
  margin-top: 3vh;
}

h4 a {
  text-decoration: none;
  color: green;
  display: inline-block;
}

input:focus {
  border: 3px solid skyblue;
  box-shadow: 2px 2px lightgray;
}

.password input {
  border: 1px solid red;
  border-radius: 1px;
}
